body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin-top: 50px;
}

#logout-btn {
  float: right;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form button {
  width: 100%;
}

#circle-list .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#circle-list button {
  margin-left: 10px;
}
